@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:wght@300&display=swap');
* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  height: 100%;
}
:root{
  --body-bg: #fefefe;
  --body-txt: #444;
  --header-bg: #555;
  --header-txt: #fff;
  --footer-bg: var(--header-bg);
  --footer-txt: var(--header-txt);
  --link: blue;
  --linkHover: rgb(6, 180, 6);
  --section-one-bg: var(--body-bg);
  --section-one-txt: var(--body-txt);
  --section-two-bg: #efefef;
  --section-two-txt: var(--body-txt);
  --padding-side: 2rem;
  --padding-topdown: 3rem; 
  --box: 800px;
}
body {
  background: var(--body-bg);
  color: var(--body-txt);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.1rem;
  display:flex;
  flex-direction: column;
  height: 100%;
  text-align:center
}
h1, h2, h3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 3rem;
  padding-bottom:1rem
}
h3{
  font-size: 2rem;
}
h1, h2, h3, p{
  max-width:  var(--box);
  margin: 0 auto;
}
button{
  padding: 1rem 2rem;
  background-color: var(--link);
  transition: background-color 1s;
  font-size:1.2em;
  color:white;
  margin-top: 2rem;
  border:none;
  border-radius: 0.5rem;
}
button:hover, button:active{
  background: var(--linkHover);
}
header, footer{
  background: var(--header-bg);
  color: var(--header-txt);
}
header .container{
  padding-left:0;
  padding-right:0;
}
nav ul{
  display:flex;
  justify-content: end;
  flex-wrap: wrap;
}
nav li{
  padding:0 var(--padding-side) 0 0;
}
nav li:first-child{
  padding-left: var(--padding-side);
}
nav a{
  color:  var(--header-txt);
  text-decoration: none;
  transition: color 1s;
}
nav a:hover{
  color: var(--linkHover);
}
main{
  flex: 1 0 auto;
}
section{
  background-color: var(--section-one-bg);
  color: var(--section-one-txt);
  padding-left: var(--padding-side);
  padding-right: var(--padding-side);
}
section:nth-child(2n+1){
  background-color: var(--section-two-bg);
  color: var(--section-two-txt);
}
.container{
  padding:  var(--padding-topdown)  var(--padding-side);
  max-width: 1200px;
  margin: 0 auto;  
}
#about{
  background-image: url(img/flamingos.jpg);
  background-size: cover;
  background-attachment: fixed;
  color:#fff;
  text-shadow: 0.5px 1px 2px #000;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
#about .container{
  background-color: rgba(250, 250, 250, 0.4);
}
#about article{
  margin: 0 auto;
}
.skill-list{
  max-width: var(--box);
  margin:0 auto;
  display:flex;
  justify-content: center;
}
#skills svg{
  width:auto;
  height:50px;
  transition: fill 1s;
  fill: black;
  padding-right: var(--padding-side)
}

#skills svg:hover{
  fill:var(--linkHover);
  cursor: pointer;
}
#play h3{
  transition: color 1s;
}
#play h3:hover{
  cursor: pointer;
  color:var(--linkHover);
}
#play .games{
  padding-top: var(--padding-topdown)
}
.game{
  display:none;
  max-width: var(--box);
  margin:0 auto var(--padding-topdown) auto;
  padding: var(--padding-topdown) var(--padding-side);
  background:var(--section-two-bg);
}
#luckyColor h4{
  padding-bottom: 1rem;  
}
#theLuckyColor{
  font-size: 2rem;
  color: white;
  background-color:red;
  padding: 0.5rem 1rem;
  line-height: 2;
  font-family: 'Source Code Pro', monospace;
  font-weight:700;
  text-transform: uppercase;
}
#colorList{
  font-family: 'Source Code Pro', monospace;
  text-transform: capitalize;
}
#contact a{
  font-weight: bold;
  color: var(--link);
}
#contact a:hover{
  color: var(--linkHover);
}
footer{
  margin-top: auto;
  text-align: right;
  flex-shrink: 0;
}
@media only screen and (max-width: 600px) {
  :root{
    --padding-topdown: 1rem;
    --padding-side: 1rem;
  }
  nav ul{
    justify-content: center;
  }
}