@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:wght@300&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  background: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
h1, h2, h3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 2rem;
}
